.vs/openproject/FileContentIndex/6e053a95-5905-41ca-9b00-2faca0876684.vsidx
.vs/openproject/v17/DocumentLayout.backup.json
.vs/openproject/v17/Solution.VC.db
.vs/openproject/v17/ipch/AutoPCH/d3b0a78254da2693/MAIN.ipch
